@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-flow {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}

.rainbow {
    background-image: linear-gradient(90deg, rgb(240, 161, 168) 0%, rgb(240, 156, 90) 25%, rgb(131, 203, 172) 50%, rgb(240, 156, 90) 75%, rgb(240, 161, 168) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: 2.5s linear 0s infinite normal none running rainbow-flow;;
}

code {
    @apply bg-gray-300 rounded text-gray-800 px-1 py-0.5;
}

.title-2 {
    @apply tracking-wider font-bold text-2xl mb-4;
}

.card {
    @apply mx-auto rounded-xl shadow-md p-10 mt-6;
    @apply sm:w-full lg:w-[640px];
}
